#table-of-contents h2 {
        background-color: #FF0000;
}


#table-of-contents {
    background: black;
}

h1, h2, h3, h4, h5, h6, legend {
    color: #3a3737;
}

h1 {
    background-color: #3a3737;
    color : white;
    text-align:center;
    padding: 10px;
    border-radius: 10px;	
}

#table-of-contents h2 {
        background-color: #FF0000;
}

#table-of-contents li a:hover{
background-color: #FF0000;
color:white;
}

#content pre {
background-color:#f7f4f2;
}
